<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>nurse</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="../../static/js/jquery/jquery-3.4.0.min.js"></script>
    <script src="../../static/layui/layui.all.js" charset="utf-8"></script>
    <style type="text/css">
        body .myclass .layui-layer-content{padding: 20px;}
    </style>
</head>
<body>

<table class="layui-hide" style="height: 80%" id="nurse" lay-filter="nurse"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="gotoAdd">添加美女</button>
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 需要弹出的添加员工界面 -->
<div class="layui-row" id="openAdd" style="display: none;">
    <div class="layui-col-md10">
        <form class="layui-form" id="addEmployeeForm">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别：</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男" >
                    <input type="radio" name="sex" value="女" title="女" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">等级：</label>
                <div class="layui-input-block">
                    <select class="layui-input" name="gradeId" id="gradeIdSelect">
                        <option value=""> -- 请选择 -- </option>
                        <!--                        <option  th:selected="${1 eq g.id}" th:each="g:${gradeList}"  th:value="${g.id}" th:text="${g.name}"></option>-->
                        <option  th:each="g:${gradeList}"  th:value="${g.id}" th:text="${g.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-normal">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#nurse'
            ,url:'list'
            ,toolbar: '#toolbarDemo'
            ,title: '护士管理'
            ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                        ,{field:'name', title:'护士', edit: 'text'}
                        ,{field:'gradeId', title:'等级',  edit: 'text', sort: true}
                        ,{field:'createTime', title:'创建时间',  edit: 'text', sort: true}
                        ,{field:'updateTime', title:'更新时间',  edit: 'text', sort: true}
                    ]
                ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(nurse)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'gotoAdd'://添加
                    layer.open({
                        type:1,
                        title:"添加护士",
                        skin:"myclass",
                        area:["50%"],
                        content:$("#openAdd").html()
                    });
                    /* 渲染表单 */
                    form.render();
                    break;
                /*case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;*/
            };
        });

        //监听行工具事件
        table.on('tool(nurse)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>

</body>
</html>